@page "/"
@using DoctivityHybrid.Shared.Services

@inject IFormFactor FormFactor
@inject IAuthService AuthService
@inject NavigationManager NavigationManager

@attribute [Authorize]

<PageTitle>Home</PageTitle>

<div class="d-flex align-items-center justify-content-between">
    <h1>Hello, @_name!</h1>

    <MudButton Color="Color.Secondary"
               Variant="Variant.Outlined"
               StartIcon="@Icons.Material.Filled.ExitToApp"
               OnClick="Logout">
    </MudButton>
</div>

<p>
    Welcome to your new app running on <em>@factor</em> using <em>@platform</em>.
</p>

<br />

@code {

    [CascadingParameter]
    public Task<AuthenticationState> AuthStateTask { get; set; }

    private string factor => FormFactor.GetFormFactor();
    private string platform => FormFactor.GetPlatform();

    private string _name = string.Empty;
    private bool isLoggingOut = false;

    override protected async Task OnInitializedAsync()
    {
        var authState = await AuthStateTask;
        var user = authState.User;
        if (user.Identity is not null && user.Identity.IsAuthenticated)
        {
            var userName = user.Identity.Name;
            _name = userName ?? "Unknown User";
            // You can use userName or other claims as needed
        }
    }

    private async Task Logout()
    {
        NavigationManager.NavigateTo("/logout", replace: true, forceLoad: true);
    }
}
