@page "/notes/list"

@inject INoteService NoteService

<MudSimpleTable Style="overflow-x: auto;">
    <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Content</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var note in notes)
        {
            <tr>
                <td>@note.Id</td>
                <td>@note.Title</td>
                <td>@note.Content</td>
            </tr>
        }
    </tbody>
</MudSimpleTable>

@code {

    List<NoteModel> notes = new();
    List<string> rows = new();
    protected override async Task OnInitializedAsync()
    {
        notes = await NoteService.GetNotesAsync();
    }

}
